nserver 208.67.222.222
nserver 208.67.220.220
nscache 65536
timeouts 1 5 30 60 180 1800 15 60

#auth strong
#users user:CL:password
auth none

daemon

#log /var/log/3proxy/3proxy.log D
#logformat "- +_L%t.%.  %N.%p %E %U %C:%c %R:%r %O %I %h %T"
#archiver gz /usr/bin/gzip %F
#rotate 30

# Конфигурация http(s) proxy
#auth strong
#users user:CL:password

auth none

#allow * * * 80-88,8080-8088 HTTP
#allow * * * 443,8443 HTTPS

allow * * * *

proxy -6 -i{ipv4} -e{ipv6} -p10001

# Конфигурация socks5-proxy
#auth strong
#users user:CL:password

auth none

flush
allow loxnemamont

socks -6 -i{ipv4} -e2{ipv6} -p20001
